<configuration scan="true" scanPeriod="30 seconds">
    <!-- 自定义属性，通过${}访问 -->
    <property name="filePath" value="/logs/" />
    <property name="CONSOLE_LOG_PATTERN"
              value="%red(%date{yyyy-MM-dd HH:mm:ss}) %highlight(%-5level) %red([%thread]) %boldMagenta(%logger{50}) %cyan(%msg%n)"/>

    <!-- 输出到控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %msg%n</pattern>-->
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 输出到文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 文件路径 -->
        <file>${filePath}app.log</file>
        <!-- 日志输出格式化 -->
        <encoder>
            <pattern>%date [%level] [%thread] %logger{80} [%file : %line] %msg%n</pattern>
        </encoder>

        <!-- 滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每日滚动 -->
            <fileNamePattern>${filePath}app.log%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- 将30天的日志总大小限制在3GB内  -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- 基于尺寸和时间的滚动策略 -->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${filePath}other.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${filePath}other.log%d{yyyy-MM-dd}%i.log</fileNamePattern>
            <!-- 每个日志文件最多100MB，保存60天的历史记录，总大小不超过20GB -->
            <maxFileSize>1KB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%level] [%thread] %logger{80} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- name属性指定包名或者完全限定类名 -->
    <logger name="service.OtherService" level="DEBUG">
        <appender-ref ref="ROLLING" />
    </logger>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <!-- 根logger -->
    <root level="DEBUG">
        <!-- 配置输出源 -->
        <appender-ref ref="STDOUT" />

    </root>
</configuration>